<template>
  <div class="day7">
    <div class="view title"><img src="../../assets/images/icon_rule-title.png" alt=""></div>
    <div class="view logos"><img src="../../assets/images/icon_logo.png" alt=""></div>
    <div class="view btn" @click="goHeart"><img src="../../assets/images/icon_bixin-btn.png" alt=""></div>
    <div class="view heart">
      <img :src="heartImg" alt="">
      <click-heart :day="day" @clickHeart="showGift"></click-heart>
    </div>

    <!--获奖弹框-->
    <gifts :show="showHis" :day="currentDay" @close="close"></gifts>
    <!--获奖弹框-->
    <m-dialog :show="show">
      <div class="info-dialog">
        <div class="close-btn" @click="close"></div>
        <div class="submit-btn" @click="submit">前往抽奖</div>
      </div>
    </m-dialog>

    <!--奖品弹框-->
    <m-dialog :show="awardShow">
      <div class="award-dialog" :class="'lv' + lv">
        <div class="close-btn" @click="closeAward"></div>
        <div class="submit-btn" v-if="lv !== 0" @click="checkTips">查看领奖说明</div>
        <div class="submit-btn" v-else @click="closeAward">关闭</div>
      </div>
    </m-dialog>

    <!--领奖说明-->
    <m-dialog :show="tipsShow">
      <div class="tips-dialog">
        <div class="tips-text"><img src="./images/icon_tips-text.png" alt=""></div>
        <div class="close-btn" @click="closeTips"></div>
      </div>
    </m-dialog>
  </div>
</template>

<script>
import MDialog from '@/components/m-dialog'
import gifts from '@/components/gifts'
import ClickHeart from '@/components/click-heart'
export default {
  name: 'day0',
  data () {
    return {
      show: null,
      showHis: false,
      awardShow: false,
      tipsShow: false,
      heartImg: '',
      lv: null,
      currentDay: 0,
      day: 7,
      isLottery: false,
      isAward: false
    }
  },
  components: {
    MDialog,
    gifts,
    ClickHeart
  },
  mounted () {
    this.heartImg = require('../../assets/images/icon_heart7.png')
    this.queryDrawInfo()
  },
  methods: {
    // 查询是否获奖
    queryDrawInfo () {
      this.$http(this.$api.infoDraw).then(
        res => {
          if (res.code === 0) {
            this.isLottery = res.isLottery
            if (!this.isLottery) {
              this.show = true
            } else {
              this.awardShow = true
              this.lv = res.prizeId
            }
          }
        }
      )
    },
    goHeart () {
      if (!this.isLottery && !this.isAward) {
        this.show = true
      } else {
        this.awardShow = true
      }
    },
    showGift (index) {
      if (index === 7) {
        if (!this.isLottery && !this.isAward) {
          this.show = true
        } else {
          this.awardShow = true
        }
      } else {
        this.showHis = true
        this.currentDay = index
      }
    },
    close () {
      this.show = false
      this.showHis = false
    },
    submit () {
      this.$http(this.$api.goDraw, {}).then(
        res => {
          if (res.code === 0) {
            this.$vux.loading.show({
              text: '正在抽奖...'
            })
            setTimeout(() => {
              this.$vux.loading.hide()
              this.show = false
              this.awardShow = true
              this.lv = res.prizeId
              this.isAward = true
            }, 3000)
          }
        }
      )
    },
    // 关闭奖品弹窗
    closeAward () {
      this.awardShow = false
    },
    // 查看领奖说明
    checkTips () {
      this.awardShow = false
      this.tipsShow = true
    },
    // 关闭领奖说明
    closeTips () {
      this.tipsShow = false
    }
  }
}
</script>

<style lang="less" scoped>
.day7 {
  width: 100%;
  height: 100%;
  .view {
    img {
      width: 100%;
    }
  }
  .title {
    width: 729px;
    height: 342px;
    padding: 247px 0 0 74px;
  }
  .logos {
    width: 786px;
    height: 166px;
    padding: 224px 0 0 74px;
  }
  .btn {
    width: 419px;
    height: 81px;
    margin: auto;
    margin-top: 682px;
    img {
      width: 100%;
    }
  }
  .heart {
    width: 976px;
    height: 270px;
    margin: auto;
    margin-top: 76px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .info-dialog {
    position: relative;
    width: 801px;
    height: 1277px;
    background: url("./images/icon_dialog-cj.png") no-repeat center;
    background-size: 100% 100%;
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      width: 336px;
      height: 86px;
      line-height: 86px;
      background: url("../../assets/images/icon_submit7.png") no-repeat center;
      background-size: 100% 100%;
      color: #fff;
      text-align: center;
      font-size: 46px;
    }
  }
  .award-dialog {
    position: relative;
    width: 802px;
    height: 1196px;
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      width: 336px;
      height: 86px;
      line-height: 86px;
      color: #fff;
      text-align: center;
      font-size: 46px;
    }
    &.lv0 {
      background: url("./images/icon_dialog-0.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l0.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
    &.lv1 {
      background: url("./images/icon_dialog-1.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l1.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
    &.lv2 {
      background: url("./images/icon_dialog-2.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l2.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
    &.lv3 {
      background: url("./images/icon_dialog-3.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l3.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
    &.lv4 {
      background: url("./images/icon_dialog-4.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l4.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
    &.lv5 {
      background: url("./images/icon_dialog-5.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l5.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
    &.lv6 {
      background: url("./images/icon_dialog-6.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l6.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
    &.lv7 {
      background: url("./images/icon_dialog-7.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l7.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
    &.lv8 {
      background: url("./images/icon_dialog-8.png") no-repeat center;
      background-size: 100% 100%;
      .submit-btn {
        background: url("./images/icon_btn-l8.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
  }
  .tips-dialog {
    width: 800px;
    height: 1200px;
    background: url("./images/icon_dialog-tips.png") no-repeat center;
    background-size: 100% 100%;
    .tips-text {
      padding: 139px 0 0 73px;
      width: 658px;
      height: 936px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close-b.png") no-repeat center;
      background-size: 100% 100%;
    }
  }
}
</style>
