<template>
  <div class="gifts">
    <m-dialog :show="show">
      <div class="day1" v-if="day === 1">
        <div class="close-btn" @click="close"></div>
        <div class="submit-btn" @click="submit">前往领取</div>
      </div>
      <div :class="'day' + day" v-else>
        <div class="close-btn" @click="close"></div>
        <div class="submit-btn">兑换码将通过短信发送，请注意查收</div>
      </div>
    </m-dialog>
  </div>
</template>

<script>
import MDialog from '@/components/m-dialog'
export default {
  name: 'gifts',
  props: {
    day: {
      type: Number,
      default: 0
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  components: {
    MDialog
  },
  methods: {
    submit () {
      window.location.replace('https://s.didi.cn/eYqR9')
    },
    close () {
      this.$emit('close', false)
    }
  }
}
</script>

<style lang="less" scoped>
.gifts {
  .day1 {
    position: relative;
    width: 801px;
    height: 1195px;
    background: url("./images/icon_dialog-didi.png") no-repeat center;
    background-size: 100% 100%;
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      width: 336px;
      height: 86px;
      line-height: 86px;
      background: url("../../assets/images/icon_submit.png") no-repeat center;
      background-size: 100% 100%;
      color: #fff;
      text-align: center;
      font-size: 46px;
    }
  }
  .day2 {
    position: relative;
    width: 800px;
    height: 1265px;
    background: url("./images/icon_dialog-sn.png") no-repeat center;
    background-size: 100% 100%;
    .close-btn {
      position: absolute;
      top: 85px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 86px;
      line-height: 86px;
      color: rgb(63, 153, 157);
      text-align: center;
      font-size: 42px;
    }
  }
  .day3 {
    position: relative;
    width: 800px;
    height: 1199px;
    background: url("./images/icon_dialog-dpd.png") no-repeat center;
    background-size: 100% 100%;
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 86px;
      line-height: 86px;
      color: rgb(5, 132, 113);
      text-align: center;
      font-size: 42px;
    }
  }
  .day4 {
    position: relative;
    width: 800px;
    height: 1199px;
    background: url("./images/icon_dialog-xes.png") no-repeat center;
    background-size: 100% 100%;
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 86px;
      line-height: 86px;
      color: rgb(156, 74, 63);
      text-align: center;
      font-size: 42px;
    }
  }
  .day5 {
    position: relative;
    width: 800px;
    height: 1204px;
    background: url("./images/icon_dialog-yq.png") no-repeat center;
    background-size: 100% 100%;
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 86px;
      line-height: 86px;
      color: rgb(15, 74, 116);
      text-align: center;
      font-size: 42px;
    }
  }
  .day6 {
    position: relative;
    width: 801px;
    height: 1277px;
    background: url("./images/icon_dialog-kqc.png") no-repeat center;
    background-size: 100% 100%;
    .close-btn {
      position: absolute;
      top: 97px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 86px;
      line-height: 86px;
      color: rgb(25, 105, 190);
      text-align: center;
      font-size: 42px;
    }
  }
}
</style>
