<template>
  <ul class="click-heart">
    <li v-for="item in day" :key="item" :class="'item' + item" @click="clickHeart(item)"></li>
  </ul>
</template>

<script>
export default {
  name: 'index',
  props: {
    day: {
      type: Number,
      default: 0
    }
  },
  methods: {
    clickHeart (index) {
      this.$emit('clickHeart', index)
    }
  }
}
</script>

<style lang="less" scoped>
  .click-heart {
    position: absolute;
    top: 48px;
    left: 0;
    list-style: none;
    li {
      margin-left: 62px;
      display: inline-block;
      height: 126px;
      width: 80px;
      &:first-child {
        margin-left: 0;
      }
      &.item7 {
        margin-left: 76px;
        width: 110px;
      }
    }
  }
</style>
