<template>
  <div class="day1">
    <div class="view title"><img src="../../assets/images/icon_dd01.png" alt=""></div>
    <div class="view text"><img src="../../assets/images/icon_dd02.png" alt=""></div>
    <div class="view logos"><img src="../../assets/images/icon_logo.png" alt=""></div>
    <div class="view btn" @click="goHeart"><img src="../../assets/images/icon_bixin-btn.png" alt=""></div>
    <div class="view heart">
      <img :src="heartImg" alt="">
      <click-heart :day="day" @clickHeart="showGift"></click-heart>
    </div>

    <!--获奖弹框-->
    <gifts :show="show" :day="currentDay" @close="close"></gifts>
  </div>
</template>

<script>
import gifts from '@/components/gifts'
import ClickHeart from '@/components/click-heart'
export default {
  name: 'day1',
  data () {
    return {
      show: false,
      heartImg: '',
      param: {
        dayType: 1
      },
      day: 0,
      currentDay: 0
    }
  },
  props: {
    state: {
      type: Boolean,
      default: false
    }
  },
  components: {
    gifts,
    ClickHeart
  },
  mounted () {
    this.reloadPage()
    if (this.state) {
      this.heartImg = require('../../assets/images/icon_heart1.png')
      this.day++
    } else {
      this.heartImg = require('../../assets/images/icon_heart0.png')
    }
  },
  methods: {
    reloadPage () {
      window.onpageshow = function (event) {
        if (event.persisted) {
          window.location.reload()
        }
      }
    },
    goHeart () {
      this.$http(this.$api.clickHeart, this.param).then(
        res => {
          if (res.code === 0) {
            this.show = true
            this.day++
            this.currentDay = this.day
            this.heartImg = require('../../assets/images/icon_heart1.png')
          }
        }
      )
    },
    showGift (index) {
      this.show = true
      this.currentDay = index
    },
    close () {
      this.show = false
    }
  }
}
</script>

<style lang="less" scoped>
  .day1 {
    width: 100%;
    height: 100%;
    .view {
      img {
        width: 100%;
      }
    }
    .title {
      width: 847px;
      height: 447px;
      padding: 243px 0 0 74px;
    }
    .text {
      width: 607px;
      height: 220px;
      padding: 58px 0 0 74px;
    }
    .logos {
      width: 786px;
      height: 166px;
      padding: 63px 0 0 74px;
    }
    .btn {
      width: 419px;
      height: 81px;
      margin: auto;
      margin-top: 497px;
      img {
        width: 100%;
      }
    }
    .heart {
      width: 976px;
      height: 270px;
      margin: auto;
      margin-top: 76px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
