<template>
  <div class="home" :style="{backgroundImage: 'url('+ bgImg +')'}">
    <div class="rules" @click="goRules"></div>
    <day0 v-if="day === 0" @change="changeDay"></day0>
    <day1 :state="state" v-if="day === 1"></day1>
    <day2 :state="state" v-if="day === 2"></day2>
    <day3 :state="state" v-if="day === 3"></day3>
    <day4 :state="state" v-if="day === 4"></day4>
    <day5 :state="state" v-if="day === 5"></day5>
    <day6 :state="state" v-if="day === 6" @change="changeDay"></day6>
    <day7 v-if="day === 7"></day7>
    <loading v-if="day === null"></loading>

    <!--规则说明-->
    <m-dialog :show="show">
      <div class="info-dialog">
        <div class="tips-text"><img src="./images/icon_rules-tips.png" alt=""></div>
        <div class="close-btn" @click="close"></div>
        <div class="submit-btn" @click="close">关闭</div>
      </div>
    </m-dialog>
  </div>
</template>

<script>
import MDialog from '@/components/m-dialog'
import day0 from '../day0'
import day1 from '../day1'
import day2 from '../day2'
import day3 from '../day3'
import day4 from '../day4'
import day5 from '../day5'
import day6 from '../day6'
import day7 from '../day7'
import loading from '../loading'
export default {
  name: 'home',
  data () {
    return {
      day: null,
      show: false,
      bgImg: null,
      state: false
    }
  },
  components: {
    MDialog,
    day0,
    day1,
    day2,
    day3,
    day4,
    day5,
    day6,
    day7,
    loading
  },
  mounted () {
    this.queryHeart()
  },
  methods: {
    // 查询用户比心信息
    queryHeart () {
      this.$http(this.$api.stateHeart).then(
        res => {
          this.day = res.data.page
          this.state = res.data.state
          this.bgImg = require(`../../assets/images/bg_day${this.day}.png`)
          if (res.data.isQualifications) {
            this.day = 7
          }
        }
      )
    },
    // 注册成功，跳转页面
    changeDay (day) {
      this.day = day
    },
    goRules () {
      this.show = true
    },
    close () {
      this.show = false
    }
  }
}
</script>

<style lang="less" scoped>
.home {
  width: 100%;
  height: 100%;
  min-height: 2208px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  .rules {
    position: absolute;
    top: 33px;
    right: 33px;
    width: 106px;
    height: 106px;
    background: url("../../assets/images/icon_rule-btn.png") no-repeat center;
    background-size: 100% 100%;
  }
  .info-dialog {
    width: 802px;
    height: 1200px;
    background: url("./images/icon_dialog-rule.png") no-repeat center;
    background-size: 100% 100%;
    .tips-text {
      padding: 111px 0 0 68px;
      width: 664px;
      height: 897px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close-b.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      width: 336px;
      height: 86px;
      line-height: 86px;
      background: url("./images/icon_btn-rule.png") no-repeat center;
      background-size: 100% 100%;
      color: #fff;
      text-align: center;
      font-size: 46px;
    }
  }
}
</style>
