<template>
  <div class="day4">
    <div class="view title"><img src="../../assets/images/icon_xes01.png" alt=""></div>
    <div class="view logos"><img src="../../assets/images/icon_logo.png" alt=""></div>
    <div class="view btn" @click="goHeart"><img src="../../assets/images/icon_bixin-btn.png" alt=""></div>
    <div class="view heart">
      <img :src="heartImg" alt="">
      <click-heart :day="day" @clickHeart="showGift"></click-heart>
    </div>

    <!--获奖弹框-->
    <gifts :show="show" :day="currentDay" @close="close"></gifts>
  </div>
</template>

<script>
import gifts from '@/components/gifts'
import ClickHeart from '@/components/click-heart'
export default {
  name: 'day4',
  data () {
    return {
      show: false,
      heartImg: '',
      param: {
        dayType: 4
      },
      day: 3,
      currentDay: 0
    }
  },
  props: {
    state: {
      type: Boolean,
      default: false
    }
  },
  components: {
    gifts,
    ClickHeart
  },
  mounted () {
    if (this.state) {
      this.heartImg = require('../../assets/images/icon_heart4.png')
      this.day++
    } else {
      this.heartImg = require('../../assets/images/icon_heart3.png')
    }
  },
  methods: {
    goHeart () {
      this.$http(this.$api.clickHeart, this.param).then(
        res => {
          if (res.code === 0) {
            this.show = true
            this.day++
            this.currentDay = this.day
            this.heartImg = require('../../assets/images/icon_heart4.png')
          }
        }
      )
    },
    showGift (index) {
      this.show = true
      this.currentDay = index
    },
    close () {
      this.show = false
    }
  }
}
</script>

<style lang="less" scoped>
  .day4 {
    width: 100%;
    height: 100%;
    .view {
      img {
        width: 100%;
      }
    }
    .title {
      width: 669px;
      height: 381px;
      padding: 249px 0 0 74px;
    }
    .logos {
      width: 786px;
      height: 166px;
      padding: 114px 0 0 74px;
    }
    .btn {
      width: 419px;
      height: 81px;
      margin: auto;
      margin-top: 822px;
      img {
        width: 100%;
      }
    }
    .heart {
      width: 976px;
      height: 270px;
      margin: auto;
      margin-top: 76px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
