<template>
  <div class="loading">
    <spinner type="lines" size="2rem"></spinner>
  </div>
</template>

<script>
export default {
  name: 'loading'
}
</script>

<style lang="less" scoped>
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /deep/ .vux-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      stroke: rgb(50, 105, 121);
      fill: rgb(50, 105, 121);
    }
  }
</style>
