<template>
  <div class="day0">
    <div class="view title"><img src="../../assets/images/icon_rule-title.png" alt=""></div>
    <div class="view text"><img src="../../assets/images/icon_heart-full.png" alt=""></div>
    <div class="view gift"><img src="../../assets/images/icon_show-gifts.png" alt=""></div>
    <div class="view logos"><img src="../../assets/images/icon_logo.png" alt=""></div>
    <div class="view btn" @click="goHeart"><img src="../../assets/images/icon_bixin-btn.png" alt=""></div>

    <!--  表单信息-未注册过，输入信息  -->
    <m-dialog :show="show">
      <div class="info-dialog">
        <div class="close-btn" @click="close"></div>
        <div class="dialog-title">请完善信息</div>
        <div class="info-form">
          <div class="form-item">
            <div class="form-label">姓名:</div>
            <x-input type="text" v-model="form.name" @on-blur="resetPage" novalidate :show-clear="false"></x-input>
          </div>
          <div class="form-item">
            <div class="form-label">手机号码:</div>
            <x-input type="tel" v-model="form.phone" @on-blur="resetPage" novalidate :max="11" :show-clear="false"></x-input>
          </div>
          <div class="form-item">
            <div class="form-label">验证码:</div>
            <x-input type="tel" v-model="form.captcha"
                     @on-blur="resetPage" novalidate :max="4" :show-clear="false">
              <div class="code" slot="right-full-height" v-if="!isSend" @click="getValid">获取验证码</div>
              <div class="code" slot="right-full-height" v-else>{{ time }}s</div>
            </x-input>
          </div>
        </div>
        <div class="submit-btn" @click="submit">提交</div>
      </div>
    </m-dialog>
  </div>
</template>

<script>
import MDialog from '@/components/m-dialog'
export default {
  name: 'day0',
  data () {
    return {
      show: false,
      isSend: false,
      time: 60,
      form: {
        name: '',
        phone: '',
        captcha: ''
      },
      timer: null
    }
  },
  components: {
    MDialog
  },
  watch: {
    time (t) {
      if (t === 0) {
        this.isSend = false
      }
    }
  },
  mounted () {
    this.getUserInfo()
  },
  methods: {
    // 查询用户信息
    getUserInfo () {
      this.$http(this.$api.infoUser).then(
        res => {
          if (res.code === 0) {
            this.$emit('change', 1)
          }
        }
      )
    },
    goHeart () {
      this.show = true
      this.form = {
        name: '',
        phone: '',
        captcha: ''
      }
      this.time = 60
      this.isSend = false
    },
    close () {
      this.show = false
    },
    submit () {
      let f = this.form
      // 校验姓名
      if (f.name === '') {
        this.$vux.toast.show({
          type: 'text',
          position: 'middle',
          width: 'auto',
          text: '<span style="font-size: 0.4rem;">请输入姓名</span>'
        })
        return false
      } else if (!this.isName(f.name)) {
        this.$vux.toast.show({
          type: 'text',
          position: 'middle',
          width: 'auto',
          text: '<span style="font-size: 0.4rem;">请检查姓名</span>'
        })
        return false
      }
      // 校验手机号
      if (f.phone === '') {
        this.$vux.toast.show({
          type: 'text',
          position: 'middle',
          width: 'auto',
          text: '<span style="font-size: 0.4rem;">请输入手机号</span>'
        })
        return false
      } else if (!this.isPhone(f.phone)) {
        this.$vux.toast.show({
          type: 'text',
          position: 'middle',
          width: 'auto',
          text: '<span style="font-size: 0.4rem;">请检查手机号</span>'
        })
        return false
      }
      // 校验验证码
      if (f.captcha === '') {
        this.$vux.toast.show({
          type: 'text',
          position: 'middle',
          width: 'auto',
          text: '<span style="font-size: 0.4rem;">请输入验证码</span>'
        })
        return false
      } else if (!this.isCaptcha(f.captcha)) {
        this.$vux.toast.show({
          type: 'text',
          position: 'middle',
          width: 'auto',
          text: '<span style="font-size: 0.4rem;">请检查验证码</span>'
        })
        return false
      }
      // 注册用户信息
      this.register(this.form)
    },
    // 注册信息
    register (form) {
      this.$http(this.$api.register, form).then(
        res => {
          if (res.code === 0) {
            this.show = false
            this.$emit('change', 1)

            this.$vux.toast.show({
              type: 'text',
              position: 'middle',
              width: 'auto',
              text: `<span style="font-size: 0.4rem;">验证成功</span>`
            })
          } else {
            this.$vux.toast.show({
              type: 'text',
              position: 'middle',
              width: 'auto',
              text: `<span style="font-size: 0.4rem;">${res.msg}</span>`
            })
          }
        }
      )
    },
    // 获取验证码
    getValid () {
      let param = {
        url: this.$api.getCaptcha.url + '?phone=' + this.form.phone,
        method: this.$api.getCaptcha.method
      }
      this.time = 60
      this.$http(param).then(
        res => {
          if (res.code === 0) {
            this.isSend = true
            this.countdown()
            this.$vux.toast.show({
              type: 'text',
              position: 'middle',
              width: 'auto',
              text: `<span style="font-size: 0.4rem;">验证码已发送</span>`
            })
          }
        }
      )
    },
    // 倒计时
    countdown () {
      clearInterval(this.timer)
      this.timer = null
      this.timer = setInterval(() => {
        if (this.time > 0) {
          this.time--
        }
      }, 1000)
    },
    isName (str) {
      let reg = /^[\u4E00-\u9FA5]{2,4}$/
      return reg.test(str)
    },
    isPhone (str) {
      let reg = /^1[3456789]\d{9}$/
      return reg.test(str)
    },
    isCaptcha (str) {
      let reg = /^\d{4}$/
      return reg.test(str)
    },
    // 复原页面位置
    resetPage () {
      setTimeout(() => {
        let scrollHeight = document.documentElement.scrollTop || document.body.scrollTop || 0
        window.scrollTo(0, Math.max(scrollHeight - 1, 0))
      }, 100)
    }
  }
}
</script>

<style lang="less" scoped>
.day0 {
  width: 100%;
  height: 100%;
  .view {
    img {
      width: 100%;
    }
  }
  .title {
    width: 733px;
    height: 342px;
    padding: 247px 0 0 74px;
  }
  .text {
    width: 991px;
    height: 424px;
    padding: 28px 0 0 74px;
  }
  .gift {
    width: 992px;
    height: 506px;
    padding: 69px 0 0 74px;
  }
  .logos {
    width: 786px;
    height: 166px;
    padding: 50px 0 0 74px;
  }
  .btn {
    width: 419px;
    height: 81px;
    margin: auto;
    margin-top: 84px;
    img {
      width: 100%;
    }
  }
  .info-dialog {
    position: relative;
    width: 800px;
    height: 1200px;
    background: url("./images/icon_dialog-bg.png") no-repeat center;
    background-size: 100% 100%;
    .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 63px;
      height: 63px;
      background: url("./images/icon_close.png") no-repeat center;
      background-size: 100% 100%;
    }
    .submit-btn {
      position: absolute;
      bottom: 45px;
      left: 50%;
      transform: translateX(-50%);
      width: 336px;
      height: 86px;
      line-height: 86px;
      background: url("../../assets/images/icon_submit.png") no-repeat center;
      background-size: 100% 100%;
      color: #fff;
      text-align: center;
      font-size: 46px;
    }
    .dialog-title {
      position: absolute;
      top: 88px;
      left: 217px;
      padding-left: 15px;
      width: 454px;
      height: 92px;
      line-height: 92px;
      background-image: linear-gradient(to right, rgba(255, 255, 255, 1) , rgba(255, 255, 255, 0));
      border-radius: 92px;
      font-size: 65px;
      color: #255689;
    }
    .info-form {
      position: absolute;
      top: 274px;
      left: 0;
      .form-item {
        padding-left: 50px;
        .form-label {
          font-size: 56px;
          color: #255689;
          line-height: 1;
          padding-bottom: 32px;
          padding-top: 79px;
        }
        &:first-child {
          .form-label {
            padding-top: 0;
          }
        }
        /deep/ .weui-cell {
          padding: 0;
          &::before {
            border-top: none;
          }
          .weui-input {
            width: 703px;
            height: 96px;
            box-sizing: border-box;
            border: 1px solid #255689;/*no*/
            border-radius: 8px;/*no*/
            padding: 0 20px;
            font-size: 48px;
            color: #255689;
          }
          &.vux-x-input-has-right-full {
            position: relative;
            .weui-input {
              padding-right: 270px;
            }
            .weui-cell__ft {
              .vux-x-input-right-full {
                margin: 0;
                position: absolute;
                top: 0;
                right: 1px;/*no*/
                width: 250px;
                text-align: center;
                height: 96px;
                line-height: 96px;
                color: #255689;
                border-left: 1px solid #255689;/*no*/
                font-size: 36px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
