<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="less">
@import '~vux/src/styles/reset.less';
html, body, #app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.weui-icon-success-no-circle:before {
  font-size: 1rem!important;
}
.weui-toast {
  top: 50%!important;
  transform: translate(-50%, -50%)!important;
  width: 3.2rem!important;
  min-height: 3.2rem;
  .weui-icon_toast.weui-loading {
    width: 1.5rem!important;
    height: 1.5rem!important;
  }
  .weui-toast__content {
    font-size: 0.4rem!important;
  }
}
</style>
